extends layout 
 
block content 
  h1= title 
 
  form(id='PlayerForm', action="/resource/player", method="POST") 
    div.form-group 
        label.playerAttr(for='player_name') Player name 
        input#player_name(type='text', name='player_name') 
    div.form-group 
        label.playerAttr(for='player_team') Player team 
        input#player_team(type='text', name='player_team') 
    div.form-group 
        label.playerAttr(for='player_number') Player number 
        input#player_number(type='number', name='player_number') 
    input(type="submit") 
 
  script. 
    document.forms['PlayerForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 